[*.{cs,vb}]
indent_style = space
indent_size = 2
insert_final_newline = true
tab_width = 2
dotnet_diagnostic.IDE0005.severity = error # Remove unused usings
dotnet_diagnostic.IDE0008.severity = error # Use explicit type instead of 'var'
